

@media screen and (max-width: 575.98px) {  }

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media screen and (max-width: 767.98px) {
    #about .about_image {
        
        height: 505px;
    }
    #about .about_content_3 .content {
        
        padding-top: 85px;
       
    }
    #about .about_content_3 h2{
        text-align: center;
        margin: 10px;
    }
    #information .recoverd h3 {
    
    padding-top: 20px;

}
 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }


/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {  }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {  }