@media screen and (max-width: 575.98px) {
    nav {
        position: relative;
        /* border: var(--border); */
    }

    nav ul {
        flex-direction: column;
        /* border: var(--border); */
        position: absolute;
        right: 0;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.198);
        border-radius: 5px;
        padding: 10px 15px;
        display: none;
    }

    .active {
        display: block!important;
    }

    nav ul li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #header .about_virus_button {
        float: left;
        padding: 11px 15px;
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 12px;
        margin-top: 15px;
    }
    .toggle_btn{
        margin-top: 15px;
    }
    #header .logo img {
        width: 125px;
        margin: auto;
        display: block;
    }
    #header .logo {
        margin-top: 15px;
    }
    #banner {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #banner .banner_content h1 {
        font-size: 30px;
        line-height: 17px;
    }
    #banner .banner_content h2 {
        font-size: 24px;
        line-height: 15px;
    }
    #banner .banner_content a {
        font-size: 13px;
        line-height: 17px;
        margin-top: 20px;
        padding: 17px 20px;
    }
    #banner .banner_content {
        text-align: center;
    }
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    nav {
        position: relative;
        /* border: var(--border); */
    }

    nav ul {
        flex-direction: column;
        /* border: var(--border); */
        position: absolute;
        right: 0;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.198);
        border-radius: 5px;
        padding: 10px 15px;
        display: none;
    }

    .active {
        display: block!important;
    }

    nav ul li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #header .about_virus_button {
        float: left;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 767.98px) {
    #about .about_image {

        height: 505px;
    }

    #about .about_content_3 .content {

        padding-top: 85px;

    }

    #about .about_content_3 h2 {
        text-align: center;
        margin: 10px;
    }

    #information .recoverd h3 {

        padding-top: 0;
    }

    #prevention .prevention_body {

        margin-top: 5px;

    }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    nav ul li a {
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #header .about_virus_button {
        font-size: 12px;
        line-height: 11px;
        border-radius: 39px;
        padding: 13px 7px;
        margin-top: 39px;
    }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}


/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {}