* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

i,
a,
span,
img {
    display: inline-block;



}

img {
    padding: 0;
    margin: 0;



}


a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

:root {
    --border: 1px solid red;
    --gray: #606060;
    --brand: #1447ea;
    --white: #ffffff;
    --black: #252525;
    --tomato: #f86168;
    --half_black: #7c8295;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;


}

/****************/
/*header part css start*/
/***************/
/* #header {} */



#header .logo {

    margin-top: 32px;
    padding-left: 20px;
}

#header .logo img {
    width: 155px;
}

/* nav {} */



nav ul {
    /* border: var(--border); */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

/* nav ul li {} */

nav ul li a {

    font-size: 16px;
    line-height: 16px;
    color: var(--gray);
    transition-duration: .3s;
    font-weight: 500;
    font-family: var(--poppins);
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid transparent;
}

nav ul li a:hover {
    color: var(--brand);
    border-bottom: 1px solid var(--brand);
}

#header .about_virus_button {
    border: var(--brand);
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 16px;
    color: var(--white);
    font-weight: 500;
    font-family: var(--poppins);

    border-radius: 30px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(45deg, #1447ea 0%, #03deec 98%);
    padding: 20px 30px;
    float: right;
    margin-top: 27px;

}

/****************/
/*header part css end*/
/***************/



/****************/
/*banner part css start*/
/***************/

#banner {
    padding-top: 300px;
    padding-bottom: 170px;
    background-image: url("../images/banner_image/bn_img.png");
    background-size: cover;
    background-position: center;
    /* border: var(--border); */
    background-repeat: no-repeat;

}

/* #banner .banner_content {
    border: var(--border);
}
 */



#banner .banner_content h1 {
    font-size: 50px;
    line-height: 50px;
    color: var(--brand);
    font-weight: 600;
    font-family: "Poppins";
    text-transform: capitalize;
    padding-bottom: 30px;
}

#banner .banner_content h2 {
    font-size: 60px;
    line-height: 60px;
    color: var(--gray);
    font-weight: 600;
    font-family: var(--poppins);
    /* text-transform: ; */
    padding-bottom: 20px;
}

#banner .banner_content a {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 17px;
    color: var(--white);
    font-weight: 500;
    font-family: var(--poppins);
    margin-top: 30px;
    padding: 25px 50px;
    border-radius: 30px;
    background-color: var(--brand);
    text-transform: uppercase;
}

/**************/
/*banner part css end*/
/*************/



/**********/
/*about part css start*/
/********/

#about {
    /* border: var(--border); */
}

#about .about_image {
    /* padding-top: 140px; */
    /* border: var(--border); */
    /* height: 90%; */
    margin-top: 140px;
    height: calc(100% - 140px);
    background-image: url("../images/about_image/about_image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about .about_image img {
    width: 100%;
}

/* #about .about_content_2 {} */

#about .about_content_3 .content {
    font-size: 40px;
    line-height: 40px;
    color: var(--black);
    font-weight: 600;
    font-family: var(--poppins);
    padding-top: 250px;
    padding-bottom: 40px;
}

#about .about_content_3 p {

    font-size: 16px;
    line-height: 28px;
    color: var(--half_black);
    font-weight: 400;
    font-family: var(--roboto);
    padding-bottom: 20px;
}


.covid_rules {
    padding-bottom: 110px;
}



#about .covid_rules ul li {
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 20px;
    font-weight: 500;
    font-family: var(--roboto);

}

#about .covid_rules.left ul li i {
    color: var(--brand);
    margin-right: 15px;
}

#about .covid_rules.right ul li i {
    color: var(--tomato);
    margin-right: 13px;
}


/************/
/*about part css end */
/**********/




/***********/
/*information part css start*/
/**********/
#information {
    /* border: 1px solid red; */
    background-image: url("../images/information_image/information.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#information .active_cases h3 {
    font-size: 52px;
    line-height: 65px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    padding-top: 100px;
    padding-bottom: 10px;

}

#information .active_cases h4 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 65px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    text-transform: uppercase;
    padding-bottom: 80px;
}

#information .total_deaths h3 {
    font-size: 52px;
    line-height: 65px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    padding-top: 100px;
    padding-bottom: 10px;
}

#information .total_deaths h4 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 65px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    text-transform: uppercase;
    padding-bottom: 80px;
}


#information .recoverd h3 {
    font-size: 52px;
    line-height: 65px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    padding-top: 100px;
    padding-bottom: 10px;

}

#information .recoverd h4 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 65px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    text-transform: uppercase;
    padding-bottom: 80px;

}



/***********/
/*information part css end*/
/**********/

/**********/
/*common heading part css start*/
/********/
.common_heading {
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
}

.common_heading h6 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 16px;
    color: var(--gray);
    font-weight: 400;
    font-family: var(--poppins);
    text-align: center;
    padding-bottom: 20px;
}

.common_heading h5 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 16px;
    color: var(--gray);
    font-weight: 400;
    font-family: var(--poppins);
    text-align: center;
    padding-bottom: 20px;
}

.common_heading h2 {
    font-size: 40px;
    line-height: 40px;
    color: var(--black);
    font-weight: 600;
    font-family: var(--poppins);
    text-align: center;
    padding-bottom: 10px;
}

.common_heading img {
    height: 40px;
}

.common_heading_white h6,
.common_heading_white h2 {
    color: var(--white);
}



/**********/
/*common heading part css end*/
/********?


/* symptoms part css start */
#symptoms {
    /* border: 1px solid red; */
    background-color: #f7f9fb;
}



#symptoms .feaver_body {
    /* border: 1px solid red; */
    background-color: var(--white);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    transition-duration: .3s;

}

#symptoms .feaver_body h2 {
    font-size: 24px;
    line-height: 23px;
    color: #454545;
    font-weight: 500;
    font-family: var(--poppins);
    padding-bottom: 35px;
}

#symptoms .feaver_body p {

    font-size: 16px;
    line-height: 28px;
    color: #7c8295;
    font-weight: 400;
    font-family: var(--roboto);

}

#symptoms .feaver_body img {
    padding-bottom: 40px;
}

#symptoms .feaver_body:hover {
    background-image: linear-gradient(0deg, #1447ea 0%, #03deec 100%);
}

#symptoms .feaver_body:hover h2 {
    color: var(--white);
}

#symptoms .feaver_body:hover p {
    color: var(--white);
}

/***********/
/*symptoms part css end*/
/***********/

/*********/
/*prevention part css start*/
/*********/
#prevention {
    border: var(--border);
    background-color: #002fc7;
}

#prevention .prevention_heading_padding {
    padding-bottom: 45px;
}

#prevention .prevention_body {
    /* border: var(--border); */
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#prevention .prevention_body h3 {
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    padding-bottom: 30px;

}

#prevention .prevention_body p {

    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";

}

#prevention .prevention_body img {
    padding-bottom: 40px;
}

/*********/
/*prevention part css end*/
/*********/

/*********/
/*doctors part css start*/
/*********/

#doctors {
    margin-bottom: 170px;

}

#doctors .doc_body {
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.123);
    margin-top: 10px;
}

#doctors .doc_body img {
    width: 100%;
}

#doctors .doc_body .doc_info {
    /* border: var(--border); */
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top-right-radius: 106px;
    border-top-left-radius: 106px;
    background-color: #fefefe;
    left: 0;
    /* background-color: var(--white); */
    padding-bottom: 30px;
}

#doctors .doc_body:hover .doc_info .arrow,
#doctors .doc_body:hover .doc_info .social_icons {
    height: unset;
    visibility: visible;
}

#doctors .doc_body .doc_info .arrow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: var(--border);
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 0px 5px color black;
    background-color: var(--white);
    transform: translatex(-50%) translateY(-50%);
    left: 50%;
    position: absolute;
    height: 0;
    visibility: hidden;
    transition-duration: .3s;
}

#doctors .doc_body .doc_info .arrow i {
    color: var(--brand);
    font-size: 18px;




}

#doctors .doc_body .doc_info .social_icons {
    height: 0;
    visibility: hidden;
    transition-duration: .3s;

}

#doctors .doc_body .doc_info .social_icons ul {
    display: flex;
    flex-wrap: wrap;
    /* border: var(--border); */
    padding-top: 40px;
    justify-content: center;

}

/* #doctors .doc_body .doc_info .social_icons ul li {} */

/* #doctors .doc_body .doc_info .social_icons ul li a {} */

#doctors .doc_body .doc_info .social_icons ul li a:hover i {
    color: var(--brand);
}

#doctors .doc_body .doc_info .social_icons ul li a i {
    font-size: 16px;
    margin: 0px 10px;
    color: #7c8295;
    font-weight: 400;
    transition-duration: .3s;
}

#doctors .doc_body .doc_info h3 {
    font-size: 20px;
    line-height: 20px;
    color: #454545;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

#doctors .doc_body .doc_info h4 {
    font-size: 16px;
    line-height: 16px;
    color: #7c8295;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

/*********/
/*doctors part css end*/
/*********/


/*article part css start*/

#article {
    /* border: var(--border); */
    margin-bottom: 110px;
}

#article .prevent {
    /* border: var(--border); */
    margin-top: 10px;
    margin-bottom: 30px;
    
}


#article .prevent img{
    width: 100%;
}



#article .prevent ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}
    


#article .prevent ul li {
    font-size: 14px;
    line-height: 14px;
    color: #7c8295;
    font-weight: 400;
    font-family: "Roboto";
    padding-top: 30px;
    
    /* padding-bottom: -25px; */
    
}

#article .prevent ul li a {
    font-size: 14px;
    line-height: 14px;
    color: #7c8295;
    font-weight: 400;
    font-family: var(--roboto);
}

#article .prevent ul li a:hover{
    color: var(--brand);
}
#article .prevent ul li a span{
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

#article .prevent p {

    font-size: 20px;
    line-height: 26px;
    color: #454545;
    font-weight: 500;
    font-family: var(--poppins);
    padding-right: 30px;
    padding-left: 20px;
}

#article .prevent  .read_more {
    font-size: 16px;
    line-height: 16px;
    text-decoration: underline;
    color: #7c8295;
    font-weight: 500;
    font-family: var(--poppins);
    padding-left: 20px;
    padding-bottom: 30px;
}

#article .prevent  .read_more:hover{
    color: var(--brand);
}

/*article part css end*/

